*{
  font-family: 'Roboto Mono', monospace;
}
body {
  background: rgb(95, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(122, 0, 0) 0%,
    rgb(155, 0, 0) 54%,
    rgb(221, 0, 0) 82%
  );
min-width: 250px;
}

h1 {
  color: white;
}
.home {
  display:flex
}
.in-flex div {
  padding: 25px;
  margin:20px;
}
.social1{
  left: 100px;
}
.social {
  position: fixed;
  left: -35px;
  top: 200px;
  z-index: 2000;
}
.social ul {
  list-style-type: none;
}
.social ul li a {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 500ms ease; 
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social ul li .icon-facebook {background:#3b5998;}
.social ul li .icon-instagram {background:#6334b9;}
.social ul li .icon-linkedin {background:#04669A;}
/* Colores para iconos */

.social ul li a:hover {
  padding: 10px 30px;
  background-color: #fff;
  color: #000;
}
.header{  
  background-color: #000;
  color: #ff0000;   
  left: 0;
  top: 0;
  width: 100%;
}
.header a {
  color: #ff0000;  
  text-decoration: none;
}
.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigation ul li a:hover{
   background: #ffffff;
}
/*One pokemon*/
form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
    font-weight: bolder;
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}


/* ALL THE POKEMONS */

  
  .pokemon-container {
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-columns: min-content;
    gap: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .pokemon-block,
  .pokemon-block-back {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  }
    
  .pokemon-block p {
    margin: 5px;
  }
  
  .name {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  
  #spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .pagination {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }  
  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }  
  .flip-card:hover .card-container {
    transform: rotateY(180deg);
  }  
  .pokemon-block,
  .pokemon-block-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }  
  .pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
  }  
  .stat-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }
  .marginTop{
    margin-top: 3rem;
  }